//// Variables
:root {
  --color-black: #333;
  --color-white: #fff;
  --color-gray-light: #f9fafb;
  --color-gray: #e5e7eb;
  --color-gray-dark: #6b7280;
  --color-gray-darker: #374151;
  --color-orange: #e87325;
  --color-blue-light: #e0f2fe;
  --color-blue-dark: #0369a1;
  --color-red-light: #fee2e2;
  --color-red-dark: #dc2626;
  --color-green-light: #dcfce7;
  --color-green-dark: #16a34a;
  --color-border-light: #d9dae0;
  --color-selected-option: #4b4c4d;
  --color-light-text: #2c2f31a6;

  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
}

$background-color: #f3f3f3;
$form-bg-color: white;
$primary-color: #ff7b34;
$orange-select-color: #ff8000;
$border-color: #ccc;
$text-color: #333;
$label-color: #666;

//// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: var(--color-black);
  display: flex;
}

//// Sidebar
.sidebar {
  width: 240px;
  background: var(--color-white);
  border-right: 1px solid var(--color-gray);
  height: 100vh;

  .portal-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-gray-dark);
    padding: 1.5rem;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--color-border-light);
  }

  .nav-item {
    display: flex;
    align-items: center;
    padding: 19px 24px;
    gap: 20px;
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: var(--color-gray-darker);

    &.active {
      background-color: var(--color-gray-light);
      border-left: 4px solid var(--color-orange);
      border-radius: 0;
    }
  }
}

//// Main content
.main-content {
  flex: 1;
  //// padding: 2rem;
  padding: 1.5rem;
  background: var(--color-gray-light);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //// margin-bottom: 2rem;
    margin-bottom: 30px;

    .create-case-btn {
      background: var(--color-orange);
      color: var(--color-black);
      font-size: 15px;
      font-weight: 600;
      border: none;
      padding: 11px 25px;
      border-radius: 50px;
      cursor: pointer;
      margin-top: 10px;
    }
  }

  .table-parent {
    overflow: auto;
    max-width: calc(100vw - 264px);

    .for-model-2 {
      background: var(--color-orange);
      color: var(--color-black);
      font-size: 15px;
      font-weight: 600;
      border: none;
      padding: 11px 25px;
      border-radius: 50px;
      cursor: pointer;
    }

    //// Table
    .cases-table {
      width: 100%;
      //// background: var(--color-white);
      //// border-radius: 0.5rem;
      //// border: 1px solid var(--color-gray);
      //// border-spacing: 0 10px;
      border-spacing: 0 5px;
      border: none;

      tbody {
        tr {
          background: var(--color-white);

          td:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-right: none;
          }

          td:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-left: none;
          }

          td:not(:first-child):not(:last-child) {
            border-left: none;
            border-right: none;
          }
        }

        tr.empty-row {
          background: var(--color-gray-light);
          td {
            padding: 0;
            border: none;
          }
        }
      }

      th,
      td {
        text-align: left;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
        border-bottom: 1px solid var(--color-gray);
        min-width: 200px;
        font-weight: 600;
      }

      th {
        color: var(--color-gray-dark);
        border-bottom: none;

        color: #2c2f31a6 !important;
        font-weight: 600 !important;
      }

      .comment-container {
        position: relative;
        width: 16px;
        height: 14px;
        img {
          width: 20px;
          height: 16px;
        }

        .message-count {
          position: absolute;
          top: -68%;
          right: -61%;
          z-index: 2;
          padding: 2px 6px;
          background-color: var(--color-red-dark);
          border: 1px solid var(--color-white);
          font-size: 8px;
          color: var(--color-white);
          border-radius: 50%;
        }
      }

      .status {
        padding: 0.25rem 0.5rem;
        border-radius: 9999px;
        font-size: 0.75rem;
        font-weight: 500;

        &-open {
          background: var(--color-blue-light);
          color: var(--color-blue-dark);
        }

        &-escalated {
          background: var(--color-red-light);
          color: var(--color-red-dark);
        }

        &-progress {
          background: var(--color-green-light);
          color: var(--color-green-dark);
        }

        &-closed {
          background: var(--color-gray-light);
          color: var(--color-gray-dark);
        }
      }

      .schedule-call-btn {
        background: none;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        cursor: pointer;
        color: var(--color-gray-darker);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 15px;
      }
    }
  }

  //// overflow
}

.model-container {
  // max-width: calc(100vw - 264px);
  max-width: 100vw;
  // height: 52vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  // top: -4%;
  right: 0;
  z-index: 222;
  // background-color: rgba(128, 128, 128, 0.4784313725);
  background-color: #2222228e;
  width: 100%;

  .form-container {
    width: 500px;
    // height: 100vh;
    height: 111vh;
    background: $form-bg-color;

    .form-header {
      display: flex;
      justify-content: space-between;
      padding: 15px 25px;
      border-bottom: 1px solid #e0e1e5;

      .form-header-close {
        cursor: pointer;
      }

      .form-header-text {
        margin: 0;
        font-size: 22px;
      }
    }

    form {
      padding: 15px 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form-group {
        margin: 0;

        label {
          font-size: 15px;
          color: $text-color;
          font-weight: 600;
          border: none;
        }

        input[type="text"],
        textarea {
          width: 100%;
          padding: 2%;
          font-size: 14px;
          border: 1px solid $border-color;
          border-radius: 4px;
          resize: none;
          margin-top: 7px;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            sans-serif;
        }

        select {
          width: 100%;
          padding: 10px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          appearance: none;
          margin-top: 7px;
          background: url(".//angle_down.svg") no-repeat right 10px center;
          background-size: 12px;
        }

        option:hover {
          background-color: $primary-color;
          color: white;
        }
      }

      .priority-options {
        display: flex;
        gap: 7px;
        margin-top: 7px;
      }

      .priority-option {
        display: flex;
        align-items: center;
        padding: 5px 15px;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        background-color: #f9f9f9;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight: 400 !important;
      }

      #priority-circle-medium {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: yellow; // Yellow for Low //
      }

      #priority-circle-low {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: blue; // Blue for Medium //
      }

      #priority-circle-high {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $orange-select-color; // Green for High //
      }

      #priority-circle-critical {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: red; // Red for Critical //
      }

      .priority-option input {
        display: none;
      }

      .priority-option span {
        margin-left: 5px;
      }

      // Change the background color of the entire label when the radio button is selected //
      .priority-option input:checked + div {
        background-color: black; //// Circle background to black //
      }

      .priority-option input:checked + div + span {
        color: white; //// Change text color to white when selected //
      }

      // Change the background color of the whole priority option when checked //
      .priority-option input:checked {
        background-color: black; // Set the background of the entire option to black //
        color: white; // Change text color to white //
      }

      // Change the color of the priority-circle when selected //
      .priority-option input:checked + div {
        background-color: black; // The background color of the circle will also be black //
      }

      .file-upload {
        text-align: center;
        border: 2px dashed $border-color;
        padding: 20px;
        border-radius: 4px;
        margin-top: 7px;
        color: $label-color;
        font-size: 14px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          sans-serif;

        .file-info {
          font-size: 12px;
          color: $label-color;
        }

        button {
          margin: 15px 0;
          padding: 5px 15px;
          background-color: var(--color-white);
          font-weight: 600;
          border: 1px solid var(--color-border-light);
          border-radius: 3px;
        }
      }

      .buttons {
        display: flex;
        justify-content: flex-start;
        gap: 10px;

        button {
          // flex: 1;
          font-size: 14px;
          padding: 9px 25px 9px 25px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-weight: 600;

          &.create {
            background-color: $primary-color;
            color: var(--color-black);
            border-radius: 50px;
          }

          &.cancel {
            background-color: #ddd;
            color: $text-color;
            border-radius: 50px;
          }
        }
      }
    }

    .subject-details {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-family: system-ui, -apple-system, sans-serif;

      .subject-detail-card {
        border: 1px solid var(--color-gray);
        border-radius: 5px;
        padding: 5px;

        .content-name {
          padding: 10px;
        }
      }

      .subject-detail {
        display: flex;
        align-items: center;
        gap: 10px;

        label {
          min-width: 120px !important;
        }

        .status-progress {
          padding: 3px 8px;
          border-radius: 20px;
          background: var(--color-green-light);
          color: var(--color-green-dark);
        }
      }
    }

    .subject-comments {
      display: flex;
      padding: 20px;
      flex-direction: column;
      gap: 20px;
      font-family: system-ui, -apple-system, sans-serif;

      textarea {
        padding: 8px;
        font-family: system-ui, -apple-system, sans-serif;
        resize: none;
        border: 1px solid #4b4c4d;
        border-radius: 5px;
        height: 76px;
      }

      .button-container {
        display: flex;
        justify-content: end;
        .submit {
          padding: 5px 15px;
          border: 1px solid var(--color-orange);
          color: var(--color-orange);
          background-color: var(--color-white);
          font-weight: 600;
          border-radius: 4px;
          margin-right: 10px;
        }

        .cancel {
          padding: 5px 15px;
          font-weight: 600;
          border-radius: 4px;
          background-color: var(--color-white);
          border: 1px solid var(--color-gray);
          color: var(--color-black);
        }
      }
    }

    .subject-comments-list {
      .comment {
        display: flex;
        // align-items: center;
        gap: 10px;
        padding: 20px;
        position: relative;

        .user-dp {
          span {
            // position: absolute;
            background-color: var(--color-black);
            color: var(--color-white);
            padding: 5px;
            border-radius: 20px;
          }
        }

        .comment-details {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;

          .user-sm-details {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user-name {
              font-weight: 600;
            }

            .user-duration {
              font-weight: 400 !important;
              color: var(--color-gray);
            }
          }
        }
      }
    }

    .close-btn-contrainer {
      padding: 20px;
      position: absolute;
      margin-top: 40px;
      .close-btn {
        font-size: 14px;
        padding: 9px 25px 9px 25px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 600;
        background-color: $primary-color;
        color: var(--color-black);
        border-radius: 50px;
      }
    }
  }
}

.display-none {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  /* left: 50%; */
  left: -220%;
  /* margin-left: -60px; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

//// Mobile styles
@media (max-width: "768px") {
  .sidebar {
    display: none;
  }

  .table-parent {
    max-width: 100vw !important;
  }
}

.selected-file {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

//selected file

// Color Variables
$color-black: #333;
$color-white: #fff;
$color-gray-light: #f9fafb;
$color-gray: #e5e7eb;
$color-gray-dark: #6b7280;
$color-gray-darker: #374151;
$color-orange: #e87325;
$color-blue-light: #e0f2fe;
$color-blue-dark: #0369a1;
$color-red-light: #fee2e2;
$color-red-dark: #dc2626;
$color-green-light: #dcfce7;
$color-green-dark: #16a34a;
$color-border-light: #d9dae0;
$color-selected-option: #4b4c4d;
$color-light-text: #2c2f31a6;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// General Styles
$background-color: #f3f3f3;
$form-bg-color: $color-white;
$primary-color: $color-orange;
$border-color: $color-border-light;
$text-color: $color-black;
$label-color: $color-gray-dark;

.file-upload-container {
  max-width: 600px;
  // margin: 2rem auto;
  // padding: 2rem;
  font-family: system-ui, -apple-system, sans-serif;
}

.upload-area {
  border: 2px dashed $border-color;
  border-radius: 8px;
  // padding: 2rem;
  text-align: center;
  // margin-bottom: 2rem;
  cursor: pointer;

  &.dragover {
    background-color: $color-gray-light;
    border-color: $color-gray-dark;
  }

  h2 {
    margin: 0 0 1rem;
    color: $color-gray-dark;
    font-weight: normal;
  }

  p {
    margin: 0;
    color: $color-gray;
  }

  .choose-file-label {
    background: $color-white;
    border: 1px solid $border-color;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
  }
}

.files-preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.preview-item {
  position: relative;
  border: 1px solid $color-gray-light;
  border-radius: 8px;
  padding: 0.5rem;
}

.preview-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.preview-item .file-info {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.preview-item .file-name {
  font-weight: 500;
  word-break: break-all;
}

.preview-item .file-size {
  color: $color-gray-dark;
}

.remove-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  background: $color-white;
  border: 1px solid $border-color;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  &:hover {
    background: $color-gray-light;
  }
}
